<body>

<div id='hm'><%= link_to image_tag("/assets/hicon.png",height: '55', width:'55'),faces_index_path%></div>

<div id="shadow">

<div id='index'></div>

<div id='header'>

<div id="h1"><i>Audit & Shipment File Comparison</i></div></div>

<div id='content'>

<div class="table stripped custab">
<table class="table">

 <tr>
  <%= form_for([@face], :url=>{:controller=>"faces", :action=>"save_file"}) do |f|%>
  <td><%= f.label :file_1,"Audit_File" %></td>
  <td> <%= f.file_field :file_1,:accept => 'text/csv',:onchange=>"ValidateSingleInput(this);", class: 'form-control', :required => true%></td>
 </tr>

 <tr>
  <td><%= f.label :file_2,"Shipment_File" %></td>
  <td> <%= f.file_field :file_2,:accept => 'text/csv', class: 'form-control',:onchange=>"ValidateSingleInput(this);", :required => true%></td>
 </tr>



<tr>
  <td> <%= f.submit "Upload",:class => "btn btn-info"%></td>
  <td><a href="#"  target="popup"
  onclick="window.open('http://192.168.1.52:3000/faces/result','popup','width=700,height=400'); return false;"> Help</a></td>
 </tr>

 <% end %>

</table>
</div>

<center><b>Note:Upload (.csv) Files only.</b></center>

</div>

</div>

</body>

