<div class="container">
<div id="shadow">

<div id="index"></div>

<div id="header">

<div id="h1"><i>User Interface</i></div>

</div>

<div id="content">
<table class="table stripped custab">
<ul>

<tr><td><li style="list-style-type:none"><%= link_to "Vertical Conversion",faces_vertical_path%></li></tr></td>

<tr><td><li style="list-style-type:none"><%= link_to "Audit & Shipment File Comparison",faces_compare_path%></li></tr></td>

<tr><td><li style="list-style-type:none"><%= link_to "UOM File Comparison",faces_uom_path%></li></tr></td>

<tr><td><li style="list-style-type:none"><%= link_to "Finding Consecutive Words",faces_consicutive_path%></li></tr></td>

<tr><td><li style="list-style-type:none"><%= link_to "Finding Repetitive entry in a cell",faces_duplication_path%></tr></td>

<tr><td><li style="list-style-type:none"><%= link_to "Audit Report",faces_audit_report_path%></li></tr></td>

<tr><td><li style="list-style-type:none"><%= link_to "We Lookup",faces_welookup_path%></li></tr></td>

</ul>

</div>
</table>
</div>

</div>
</div>
